In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('supershops.csv')

In [3]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

# Normalization

In [4]:
#Marketing Spend
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html

In [5]:
from sklearn.preprocessing import MinMaxScaler
m = MinMaxScaler() # m = MinMaxScaler(feature_range=(2, 5))

In [6]:
df_mar = m.fit(df[['Marketing Spend']]) # trainging

In [7]:
df_mar

MinMaxScaler()

In [8]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [9]:
df[['Marketing Spend']] = m.transform(df[['Marketing Spend']]) #transforming

In [10]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617       136897.80  471784.10    Dhaka  192261.83
1         0.983359       151377.59  443898.53      Ctg  191792.06
2         0.927985       101145.55  407934.54  Rangpur  191050.39
3         0.873136       118671.85  383199.62    Dhaka  182901.99
4         0.859438        91391.77  366168.42  Rangpur  166187.94

In [11]:
#fit and transform
df[['Administration']] = m.fit_transform(df[['Administration']]) #fit_transform

In [12]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744  471784.10    Dhaka  192261.83
1         0.983359        0.761972  443898.53      Ctg  191792.06
2         0.927985        0.379579  407934.54  Rangpur  191050.39
3         0.873136        0.512998  383199.62    Dhaka  182901.99
4         0.859438        0.305328  366168.42  Rangpur  166187.94

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Marketing Spend  50 non-null     float64
 1   Administration   50 non-null     float64
 2   Transport        49 non-null     float64
 3   Area             50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [14]:
x = df.drop('Profit', axis=1)
y = df[['Profit']]

In [15]:
x1 = x.copy()
x2 = x.copy()
x3 = x.copy()
x4 = x.copy()
x5 = x.copy()
x6 = x.copy()

# Min Max Scaler using for loop

In [16]:
x1.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.651744  471784.10    Dhaka
1         0.983359        0.761972  443898.53      Ctg
2         0.927985        0.379579  407934.54  Rangpur
3         0.873136        0.512998  383199.62    Dhaka
4         0.859438        0.305328  366168.42  Rangpur

In [17]:
#import pandas as pd
#df1 = pd.read_csv('supershops.csv')
Mar_scaled = df[['Transport']]
def min_max_scaler_marketing(data):
    min_val = min(data)
    max_val = max(data)
    scaled_data = []

    for value in data:
        scaled_value = (value - min_val) / (max_val - min_val)
        scaled_data.append(scaled_value)

    return scaled_data

# Example usage
#data = [2, 5, 10, 15, 20]
Mark_scaled_data = min_max_scaler_marketing(Mar_scaled)
print(Mark_scaled_data)
#Mark_scaled_data.head()

TypeError: unsupported operand type(s) for -: 'str' and 'str'

# Standard Scaler

In [ ]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

# Max abs scaler

In [ ]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MaxAbsScaler.html

# Robust Scaler

In [ ]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.RobustScaler.html