# Stemming

In [ ]:
word = ['change','changing','changes','changed']

In [ ]:
word

['change', 'changing', 'changes', 'changed']

In [ ]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\rashe\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: click in c:\users\rashe\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: tqdm in c:\users\rashe\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in c:\users\rashe\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\rashe\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: colorama in c:\users\rashe\anaconda3\lib\site-packages (from click->nltk) (0.4.5)

In [ ]:
from nltk.stem import PorterStemmer

In [ ]:
p = PorterStemmer()

In [ ]:
for w in word:
    print(p.stem(w))

chang
chang
chang
chang

In [ ]:
for w in word:
    print(w , p.stem(w))

change chang
changing chang
changes chang
changed chang

In [ ]:
sen = 'I want to change the world if world changed my career by changing abcd'

In [ ]:
from nltk.tokenize import word_tokenize
import nltk

In [ ]:
toke = word_tokenize(sen)

In [ ]:
toke

['I',
 'want',
 'to',
 'change',
 'the',
 'world',
 'if',
 'world',
 'changed',
 'my',
 'career',
 'by',
 'changing',
 'abcd']

In [ ]:
#sen.split()

In [ ]:
for w in toke:
    print(w , p.stem(w))

I i
want want
to to
change chang
the the
world world
if if
world world
changed chang
my my
career career
by by
changing chang
abcd abcd

In [ ]:
#nltk.download('punkt')

In [ ]:
#nltk.download('wordnet')

# Lemmatization

In [ ]:
from nltk.stem import WordNetLemmatizer

In [ ]:
le = WordNetLemmatizer()

In [ ]:
toke

['I',
 'want',
 'to',
 'change',
 'the',
 'world',
 'if',
 'world',
 'changed',
 'my',
 'career',
 'by',
 'changing',
 'abcd']

In [ ]:
for w in toke:
    print(w , le.lemmatize(w))

I I
want want
to to
change change
the the
world world
if if
world world
changed changed
my my
career career
by by
changing changing
abcd abcd

In [ ]:
le.lemmatize('changes')

'change'

# Text Vectorizer

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')

In [ ]:
df

                           test  class
0             I love Bangladesh      1
1  Could you give me an iphone?      0
2            Hello how are you?      1
3           I want to talk you.      1

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# CountVectorizer

In [ ]:
cv = CountVectorizer()

In [ ]:
cv_x = cv.fit_transform(df['test'])
cv_x

<4x14 sparse matrix of type '<class 'numpy.int64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [ ]:
cv_x.toarray()

array([[0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1]], dtype=int64)

In [ ]:
cv.get_feature_names()

C:\Users\rashe\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['an',
 'are',
 'bangladesh',
 'could',
 'give',
 'hello',
 'how',
 'iphone',
 'love',
 'me',
 'talk',
 'to',
 'want',
 'you']

In [ ]:
cv_df = pd.DataFrame(cv_x.toarray(), columns=cv.get_feature_names(), index=df['test'])

In [ ]:
cv_df

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
test,,,,,,,,,,,,,,
I love Bangladesh,0,0,1,0,0,0,0,0,1,0,0,0,0,0
Could you give me an iphone?,1,0,0,1,1,0,0,1,0,1,0,0,0,1
Hello how are you?,0,1,0,0,0,1,1,0,0,0,0,0,0,1
I want to talk you.,0,0,0,0,0,0,0,0,0,0,1,1,1,1

In [ ]:
cv_df = pd.DataFrame(cv_x.toarray(), columns=cv.get_feature_names())

C:\Users\rashe\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
cv_df

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
1,1,0,0,1,1,0,0,1,0,1,0,0,0,1
2,0,1,0,0,0,1,1,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,1,1,1,1

# TfidfVectorizer

In [ ]:
tf = TfidfVectorizer()

In [ ]:
tf_z = tf.fit_transform(df['test'])

In [ ]:
tf_z

<4x14 sparse matrix of type '<class 'numpy.float64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [ ]:
cv_df = pd.DataFrame(tf_z.toarray(), columns=tf.get_feature_names(), index=df['test'])

C:\Users\rashe\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
cv_df

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
test,,,,,,,,,,,,,,
I love Bangladesh,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000
Could you give me an iphone?,0.430037,0.000000,0.000000,0.430037,0.430037,0.000000,0.000000,0.430037,0.000000,0.430037,0.000000,0.000000,0.000000,0.274487
Hello how are you?,0.000000,0.541736,0.000000,0.000000,0.000000,0.541736,0.541736,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.345783
I want to talk you.,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.541736,0.541736,0.541736,0.345783

# Word2Vec

In [ ]:
!pip install gensim

Requirement already satisfied: gensim in c:\users\rashe\anaconda3\lib\site-packages (4.1.2)
Requirement already satisfied: numpy>=1.17.0 in c:\users\rashe\anaconda3\lib\site-packages (from gensim) (1.21.5)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\rashe\anaconda3\lib\site-packages (from gensim) (5.2.1)
Requirement already satisfied: scipy>=0.18.1 in c:\users\rashe\anaconda3\lib\site-packages (from gensim) (1.9.1)

In [ ]:
from gensim.models import Word2Vec, KeyedVectors

In [ ]:
text_vector = [nltk.word_tokenize(test) for test in df['test']]
text_vector

[['I', 'love', 'Bangladesh'],
 ['Could', 'you', 'give', 'me', 'an', 'iphone', '?'],
 ['Hello', 'how', 'are', 'you', '?'],
 ['I', 'want', 'to', 'talk', 'you', '.']]

In [ ]:
model = Word2Vec(text_vector,min_count=1)

In [ ]:
model.wv.most_similar('want')

[('an', 0.1782679259777069),
 ('I', 0.16072483360767365),
 ('give', 0.10560771077871323),
 ('how', 0.09215972572565079),
 ('iphone', 0.04891003668308258),
 ('are', 0.02700834721326828),
 ('Could', 0.007729316595941782),
 ('you', -0.03771639242768288),
 ('.', -0.045522838830947876),
 ('talk', -0.04649210348725319)]